// Primary Colors

$blue: hsl(238, 40%, 52%);
$red: hsl(358, 79%, 66%);
$light-blue: hsl(239, 57%, 85%);
$pale-red: hsl(357, 100%, 86%);

// Neutral Colors

$dark-blue: hsl(212, 24%, 26%);
$grayish-blue: hsl(211, 10%, 45%);
$light-gray-500: hsl(223, 19%, 93%);
$light-gray-700: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

// Media
$mobile: 600px;
$desktop: 1440px;
